<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
    <link rel="stylesheet" href="../Estilos/home_tamales.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head> 
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4">  </div>
        <div class="col-md-2"> 
            <img src="../Imágenes/logo (1).PNG" class="img-thumbnail logo" alt="logo">
        </div>
        <div class="col-md-6 titleTamal">
            <h3> Tamales Santandereanos </h3> 
        </div>
    </div>
    <div class="margin"></div>
    <div class="row">
        <div class="col-md-3">
            <a href="../Index.html" class="btn">Cerrar sesión</a>
            <!-- <button class="btn"> Cerrar sesión</button> -->
        </div>
        <div class="col-md-3">
            <button class="btn">Registro de cuenta</button>
        </div>
        <div class="col-md-3">
            <button class="btn contenedorbotones">Domicilios</button>
        </div>
        <div class="col-md-3">
            <button class="btn contenedorbotones">Soporte al cliente</button>
        </div>
    </div>
    <div class="margin"></div>
    <div class ="row">
            <div class="col-md-4">
                <div class="contenidoLogoEmpresa"> 
                    <div><p> Página brindada por la empresa Oasis</p> </div>
                    <div><img src="../Imágenes/icono de la empresa.png" alt=""></div>
                    <div><p> Podemos acabar con tus problematicas</p></div>                    
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="productos">  
                    <div class="margin"></div>
                    <div style="display: flex; justify-content: center;">
                            <div></div>
                            <div class="textoproducto">
                                <p>Productos que podrían interesarte</p> 
                            </div>
                            <div></div>
                    </div>
                   
                    <div class="contenedorImgProducto">
                        <div class="espaciadoIMGProducto">
                            <img src="../Imágenes/muestra_de_tamal.jpg" width="400" class="img-thumbnail"  alt="">
                            <p>Tamal santandereano </p>                                        
                        </div> 
                        <div  class="espaciadoIMGProducto">
                            <img src="../Imágenes/muestra_de_tamal_familiar.jpg" width="400" class="img-thumbnail"  alt="">
                            <p>Tamales familiares </p>                                        
                        </div>  
                        <div  class="espaciadoIMGProducto">
                            <img src="../Imágenes/muestra de tamal pequeño  (1).jpgss" width="400" class="img-thumbnail"  alt="">
                            <p>Tamal pequeño </p>                                        
                        </div>
                    </div>                                 
                </div>
            </div> 
        </div>
       
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>  
</body>
</html>