<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../Estilos/Login.css">


    <title> Hello, world!</title>
  </head>
  <body>

<!-- Header -->

<nav id="header" class="navbar navbar-expand-lg navbar-dark sticky-top"> 
    <a class="navbar-brand" href="#">
      <img src="../Imagenes/logo.jpg" alt="logo empresa"> Tamales Santandereanos
       </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="#speakers">Nuestros locales</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link text-white" href="#place-time">Nuestra historia</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link text-white" href="#Convierte-en-orador">Registrate</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link text-dark-green" href="#">Compra tamales</a>
        </li>
  
  
      </ul>
    </div>
  
    
  </nav>
  

<!-- /header-->




<!--/Main-->

<!--Productos-->
<section id="speakers">
<div class="container">
  <div class="row">
<div class="col text-center text-uppercase pt-2">
<h2>Productos</h2>

</div>

  </div>

<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem;">
      <img src="Utileria/muestra_de_tamal_familiar.jpg" class="card-img-top" alt="Tamal1">
      <div class="card-body">
        <h5 class="card-title">Tamales Familiares</h5>
      <div class="Badges mb-2">
        <span class="badge badge-danger">Descuento 20%</span>
        <span class="badge badge-success">15.000</span>
      </div>
        <p class="card-text"> <button type="button" class="btn btn-platzi">Comprar</button> </p>
      </div>
    </div>
   </div>
   
   <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem;">
      <img src="Utileria/muestra_de_tamal.jpg" class="card-img-top" alt="Tamal2">
      <div class="card-body">
        <h5 class="card-title">Tamal Especial</h5>
        <div class="Badges mb-2">
          <span class="badge badge-danger">Descuento 50%</span>
          <span class="badge badge-success">30.000</span>
        </div>
        <p class="card-text"> <button type="button" class="btn btn-platzi">Comprar</button> </p>
      </div>
    </div>
   </div>

   <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem;">
      <img src="Utileria/muestra de tamal pequeño.jpg" class="card-img-top" alt="Tamal3">
      <div class="card-body">
        <h5 class="card-title">Tamal Costeño</h5>
        <div class="Badges mb-2">
          <span class="badge badge-danger">Descuento 70%</span>
          <span class="badge badge-success">14.500</span>
        </div>
        <p class="card-text"><button type="button" class="btn btn-platzi">Comprar</button></p>
      </div>
    </div>
   </div>
</div>


</div>

</section>
 
<!--/Productos-->

<!--Historia de la compañoa-->

<section id="place-time">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 pl-10 pr-10">
        <img src="Utileria/logo (1).png" alt="IconoTMS"/>
      </div>
      <div class="col-12 col-lg-6 pt-2">
        <h2>Historia de la compañia</h2>
        <p>
         Tamales Santandereanos ha sido un Local fundado en 1994 y ha sido altamente reconocido en el area de Santander
        </p>   
        <button type="button" class="btn btn-outline-secondary">Expandir...</button>    
      </div>
    </div>
  </div>
</section>
<!--Historia de la compañia-->

<!--Registrate-->

<section id="Registrate">
  <div class="container">
    <div class="row pt-4">
      <div class="col text-uppercase text-center">

        <h3> No tienes cuenta? Crea una aqui para poder ordenar!</h3>
        
        <button type="button" class="btn btn-platzi">Crear cuenta... <a href="Inicio sesion.html"></a> </button> 


      </div>
    </div>
  </div>
</section>

<!--/Registrate-->



<!--Empleo-->
<section id="Convierte-en-orador">
  <div class="container">
    <div class="row pt-4">
      <div class="col text-uppercase text-center">
        <small>Solicitud de </small>
        <h2><abbr data-toggle="tooltip" data-placement="RIGHT" title="(Tienes que ser mayor de 18 años)" class="initialism">Empleo</abbr></h2> 
      </div>
    </div>
    <div class="row pb-4">
      <div class="col text-center">
        Envia una solicitud en caso de que quieras <abbr data-toggle="tooltip" title="">Trabajar</abbr> .
        
      </div>
    </div>

              <div class="row">
                <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-2 pb-4">
                  <form>
                    <div class="form-row">
                      <div class="form-group col-12 col-md-6">
                        <input type="text" class="form-control" placeholder="Nombre">
                      </div>
                      <div class="form-group col-12 col-md-6">
                        <input type="text" class="form-control" placeholder="Apellido">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <textarea name="text" class="form-control form-control-lg" placeholder="Cuentanos sobre ti!"></textarea>
                        <small class="form-text text-muted">
                          Recuerda incluir una profesion
                        </small>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col pt-2">
                        <button type="button" class="btn btn-platzi btn-block">Enviar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

  </div>
</section>


<!--/Empleo-->

  <!--Footer-->
    <footer id="footer" class="pb-4 pt-4">
      <div class="container">

        <div class="row text-center">
          
          <div class="col-12 col-lg">
            <a href="#">preguntas frecuentes</a>
          </div>

          <div class="col-12 col-lg">
            <a href="#">Contactanos</a>
          </div>

          <div class="col-12 col-lg">
            <a href="#">Soporte al cliente</a>
          </div>

          <div class="col-12 col-lg">
            <a href="#">Terminos y condiciones</a>
          </div>

          <div class="col-12 col-lg">
            <a href="#">Trabajadores</a>
          </div>

          <div class="col-12 col-lg">
            <a href="#">Privacidad</a>
          </div>


        </div>
      </div>
      
    </footer>
     

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>