#menu {
    background-color: #F5F5DC;
}

#menu a{
    font: oblique bold 120% fantasy;
    color: #706362;
    
}

#body{
    background-image: url(../Imágenes/background_cover.jpg);
}

#H img{
    width: 900px;
    right: 30px;

}
/* Fin de pagina*/
#fin_pagina {
    background-color: #F5F5DC;
    text-align: center;
}


#fin_pagina a{
    font: 120% fantasy;
    color: #706362;
    text-decoration: none;
}
/* /Fin de pagina*/
