#menu {
    background-color: #F5F5DC;
}

#menu a {
    font: oblique bold 120% fantasy;
    color: #706362;
    text-decoration: none;
}

#locales a {
    color: red; /* Cambia el color a tu preferencia */
    text-decoration: none; /* Elimina el subrayado */
    font: 120% fantasy;

}

#locales a:hover {
    color: blue; /* Cambia el color al pasar el mouse por encima */
}

#body {
    background-image: url(../Imagenes/background_cover.jpg);
}

/* Fin de pagina*/
#fin_pagina {
    background-color: #F5F5DC;
    text-align: center;
}


#fin_pagina a{
    font: 120% fantasy;
    color: #706362;
    text-decoration: none;
}
/* /Fin de pagina*/

.imagen{
    position: absolute;
    right: 10%;
    width: 505px; /* Ajusta el ancho deseado */
    max-height: 540px !important; /* El alto se ajuste automatic */
    border-radius: 2%
}