#menu{
    left: 300px;
    background-image: url(../Imágenes/background_cover.jpg);
}

body{
    background-size: cover;
    background-image: url(../Imágenes/background_cover.jpg);
    background-position: center center no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    top: 15em;
}

/**.container .row {
    justify-content: center;
    align-items: center;
}
**/
.logo{
    background-size: cover !important; 
    width: 200px !important;
    height: 120px !important;
    margin-left: -50px;
}

.container h3{
    margin-right: -3px;
}

a{ 
    border-radius: 9px !important;
    font-weight: 600 !important;
    border: 2px solid green !important;
    cursor: pointer !important;
}

button{ 
    border-radius: 9px !important;
    font-weight: 600 !important;
    border: 2px solid green !important;
    cursor: pointer !important;
}

.titleTamal{
    position: relative;
    top: 30px;
}

 

