#footer{
    background: green;

}
/* Principio de pagina*/

#menu {
    background-color: #F5F5DC;
}

#menu a{
    font: oblique bold 120% fantasy;
    color: #706362;
    
}

#bt a{
    text-decoration: none;
    color: black;
}

#bt {

    background-color:#149e19;
    border: 20px solid #149e19;
    border-radius: 10px;
}

/* /Principio de pagina*/



#body{
    background: #ffff00;
    color: #000000;
    
}

#speakers{
    background-image: url(../Imagenes/background_cover.jpg);
    max-height: 800px;
    overflow-y: scroll;
}

#fb{
    color: white;
    background-color: rgb(5, 188, 5);
}


/* Tamal Familiar */
#Tf {
    position: absolute;
    top: 24%;
    right: 50px;
}
/* /Tamal Familiar */
/* Tamal Especial*/

#Te {
    left: 10px;
}

#Te img{
    width: 287px;
}

/* /Tamal Especial*/

/* Tamal de lechona*/
#Tl {
    position: absolute;
    top: 100%;
    right: 390px;
}
/* /Tamal de lechona*/

/* Hallaca*/
#H {
    left: 5px;
}

/* /Hallaca*/

/* Pastel costeño*/
#Pc {
    position: absolute;
    top: 100%;
    right: 50px;
}
/* /Pastel costeño*/

/* Fin de pagina*/
#fin_pagina {
    background-color: #F5F5DC;
    text-align: center;
}


#fin_pagina a{
    font: 120% fantasy;
    color: #706362;
    text-decoration: none;
}
/* /Fin de pagina*/
