<!doctype html>
<html>

<head>
  <!--head-->

  <head>

    <title>
      LOS SUPER TAMALES
    </title>
    <meta charset="utf-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../Estilos//paginaPrincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body class="body" style="background-image: url(../Imagenes/background_cover.jpg);">

  <nav id="menu" class="navbar" style="background-color: #f5f5dc;">
    <a class="navbar-brand">
      <img src="../Imagenes/logo.jpg" width="150" alt="150"><a style="font-size: xxx-large;">LOS SUPER TAMALES</a>
    </a>
    <div class="form-inline ">
      <button type="button" onclick="cerrarSesion();" class="btn btn-success btn-lg" data-toggle="modal"
        data-target="#loginModal">
        Cerrar sesion
      </button>
    </div>
  </nav>

  <div class="container">
    <div class="row" style="margin-top:10px; margin-bottom: 5px; ">
      <div class="col-md-6">
        <button type="button" id="btnAddUserModal" onclick="typeActionUser('insert');" class="btn btn-primary btn-lg"
          data-toggle="modal" style="width: 100%;" data-target="#modalEditUser">Agregar usuario</i></button>
      </div>
      <div class="col-md-6">
        <button type="button" onclick="typeActionProduct('insert');" class="btn btn-primary btn-lg" style="width: 100%;"
          data-toggle="modal" data-target="#modalEditProduct">Agregar producto</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombres</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody class="listadoUsuario">
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Decuentos</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody class="listadoProducto">

          </tbody>
        </table>
      </div>
    </div>

    <!-- modal edit product -->
    <div class="modal fade" id="modalEditProduct" tabindex="-1" role="dialog" aria-labelledby="titleModalProduct"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="titleModalProduct">Editar producto</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" id="nombreProduct_id" placeholder="Nombre producto">
            </div>
            <div class="form-group">
              <input type="number" class="form-control" autocomplete="off" id="precioProduct_id" placeholder="Precio del producto">
            </div>
            <div class="form-group">
              <textarea name="descripcionProduct" autocomplete="off" class="form-control" id="descripcionProduct_id"
                placeholder="Descripcion del producto" cols="1" rows="5"></textarea>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" autocomplete="off" id="descuentoProduct_id" placeholder="Descuento del producto">
            </div>
            <div class="form-group">
              <input type="file" class="form-control" id="imagenProduct_id" placeholder="imagen del producto">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnUpdateProduct"
              onclick="updateProduct();">Actualizar</button>
            <button type="button" class="btn btn-success" id="btnAddProduct" onclick="addProduct();">Agregar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- modal edit user -->
    <div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="titleModalUser"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="titleModalUser">Editar usuario</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" id="nombreUsuario_id" placeholder="Nombre usuario">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="password_id" placeholder="Password">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" id="nickname_id" placeholder="NickName">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" id="correoUsuario_id" placeholder="Correo">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" id="telefonoUsuario_id" placeholder="Telefono">
            </div>
            <div class="form-group">
              <select id="idRolUsuario" class="form-control">

              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnUpdateUser" onclick="updateUser();">Actualizar</button>
            <button type="button" class="btn btn-success" id="btnAddUser" onclick="addUser();">Agregar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

<!--/body-->

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  
  function deleteProductSelected(id) {

    Swal.fire({
      title: "Seguro que desea eliminar este registro?",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      confirmButtonText: "Eliminar",
      cancelButtonText: "Cancelar"
    }).then((result) => {
      if (result.isConfirmed) {
        deleteProduct(id);
      }
    });

  };
  function deleteUserSelected(id) {

    Swal.fire({
      title: "Seguro que desea eliminar este registro?",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      confirmButtonText: "Eliminar",
      cancelButtonText: "Cancelar"
    }).then((result) => {
      if (result.isConfirmed) {
        deleteUser(id);
      }
    });
  }
  function alertSwetAlert(msj) {
    Swal.fire(msj);
  }
</script>
<script src="../controller/home.js"></script>

</html>