<!DOCTYPE html>
<html>

<head>
  <title>LOS SUPER TAMALES</title>
  <meta charset="utf-8">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" href="../Estilos/locales.css">
</head>

<body id="body">
  <!-- Contenido de la página -->
  <nav id="menu" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="../Imagenes/logo.jpg" width="150" alt="150"><a style="font-size: xxx-large;">LOCALES</a>
    </a>
  </nav>

  <div class="row container">
    <div class="col-md-3">
      <div id="locales">
        <h2>PRINCIPAL</h2>
        <p><a href="https://www.google.com/maps/search/Cl+130c+-+Kr+93A" target="_blank">Cl 130c - Kr 93A</a></p>
        <br>
        <h3>Local 2</h3>
        <p><a href="https://www.google.com/maps/search/Cl.+95+%2369C-27" target="_blank">Cl. 95 #69C-27</a></p>
        <br>
        <h3>Local 3</h3>
        <p><a href="https://www.google.com/maps/search/Cra.+73a+%2353-40,+Zona+6,+Bogotá" target="_blank">Cra. 73a
            #53-40, Zona 6, Bogotá</a></p>
        <br>
        <h3>Local 4</h3>
        <p><a href="https://www.google.com/maps/search/Av.+Primera+%23123,+Ciudad" target="_blank">Av. Primera #123,
            Ciudad</a></p>
        <br>
        <h3>Local 5</h3>
        <p><a href="https://www.google.com/maps/search/Calle+Principal+%23456,+Pueblo" target="_blank">Calle Principal
            #456, Pueblo</a></p>
      </div>
    </div>
    <div class="col-md-9">
      <img src="../Imagenes/bienvenido.jpg" alt="Mi imagen" class="imagen">

    </div>
  </div>

  <!--Pie de pagina-->
  <footer id="fin_pagina" class="pb-3 pt-3">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a href="#">preguntas frecuentes</a>
        </div>

        <div class="col-12 col-lg">
          <a href="#">Contactanos</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Soporte al cliente</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Terminos y condiciones</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Trabajadores</a>
        </div>
        <div class="col-12 col-lg">
          <a href="#">Privacidad</a>
        </div>
      </div>
    </div>
  </footer>

  <!--/pie de pagina-->
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>

</html>